<% errors = model.errors %>

<% if errors.any? %>
  <div class="mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <div class="lead buffer-bottom">
      В вашей форме <%= t :error, count: errors.count %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
