<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo buffer-both container">
  <% unless photo.photo.blank? %>
    <% image_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>
    <a href="<%= photo.photo.url %>" data-lcl-txt="<%= image_title %>" data-lcl-author="" class="mybox">
      <img src="<%= photo.photo.thumb.url %>">
    </a>
  <% end %>
</div>

